body{
    background-color: rgb(128, 83, 0);
}
form{
    text-align: center;
    margin-top: 10rem;
}
input{
    border-radius: 20px;
    border: none;
    padding: 7px;
}
button{
    border: 1px solid black ;
    border-radius: 10px;
    background-color: black;
    color: beige;
    padding: 5px;
    cursor: pointer;
    width: 8rem;
}